AUGOCHLOROPSIS_AI_PROJECT_NAME=Augochloropsis Classifier API
AUGOCHLOROPSIS_AI_DEBUG=true
AUGOCHLOROPSIS_AI_DATABASE_URL=sqlite:////home/USER/identificadordeabelha/data/db/app.sqlite3
AUGOCHLOROPSIS_AI_UPLOAD_DIR=/home/USER/identificadordeabelha/data/uploads
AUGOCHLOROPSIS_AI_ARTIFACTS_DIR=/home/USER/identificadordeabelha/artifacts/models
AUGOCHLOROPSIS_AI_MAX_UPLOAD_SIZE_MB=15
